{% extends "base.html" %}

{% block title %}
    All Accounts
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5 px-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="page-title">All Emails</h2>
        </div>

        <div class="table-container bg-white">
            <div class="table-responsive">
                <table class="table table-hover table-striped mb-0">
                    <thead class="table-dark">
                        <tr>
                            <th>Id</th>
                            <th>IMAP Subject</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="smtp-details" id="smtpTable">
                        <tr>
                            <td>1</td>
                            <td>Primary Gmail Account IMAP</td>
                            <td><a href="#" class="view-link">View More</a></td>
                            <td><a href="#" class="view-link">View Leads</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Office 365 IMAP</td>
                            <td><a href="#" class="view-link">View More</a></td>
                            <td><a href="#" class="view-link">View Leads</a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>AWS SES IMAP</td>
                            <td><a href="#" class="view-link">View More</a></td>
                            <td><a href="#" class="view-link">View Leads</a></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Marketing Mailgun IMAP</td>
                            <td><a href="#" class="view-link">View More</a></td>
                            <td><a href="#" class="view-link">View Leads</a></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Support Zoho IMAP</td>
                            <td><a href="#" class="view-link">View More</a></td>
                            <td><a href="#" class="view-link">View Leads</a></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>SendGrid Transactional IMAP</td>
                            <td><a href="#" class="view-link">View More</a></td>
                            <td><a href="#" class="view-link">View Leads</a></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Backup Gmail IMAP</td>
                            <td><a href="#" class="view-link">View More</a></td>
                            <td><a href="#" class="view-link">View Leads</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
