{% extends "base.html" %}

{% block title %}
    All Accounts
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5 px-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="page-title">All Emails</h2>
        </div>

        <div class="table-container bg-white">
            <div class="table-responsive">
                <table class="table table-hover table-striped mb-0">
                    <thead class="table-dark">
                        <tr>
                            <th>Id</th>
                            <th>IMAP Subject</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="smtp-details" id="smtpTable">
                        {% for lead in leads %}
                            <tr>
                                <td>{{ lead.id }}</td>
                                <td>{{ lead.imap_subject }}</td>
                                <td>{{ lead.status }}</td>
                                <td><a href="{{ url_for('email_details', email_id=lead.id) }}" class="email-id">View More</a></td>
                                <td><a href="{{ url_for('email_leads', email_id=lead.id) }}" class="view-link">View Leads</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
