{% extends "base.html" %}

{% block title %}
    Lead Filter Details
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-16">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Lead Details</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>ID</th>
                                    <td>{{ leads.id }}</td>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <td>{{ leads.name }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ leads.email }}</td>
                                </tr>
                                <tr>
                                    <th>Phone</th>
                                    <td>{{ leads.phone }}</td>
                                </tr>
                                <tr>
                                    <th>Qualification</th>
                                    <td>{{ leads.qualification }}</td>
                                </tr>
                                <tr>
                                    <th>Quantity</th>
                                    <td>{{ leads.qty }}</td>
                                </tr>
                                <tr>
                                    <th>Reasons</th>
                                    <td>{{ leads.reasons }}</td>
                                </tr>
                                <tr>
                                    <th>Requirement</th>
                                    <td>{{ leads.requirement }}</td>
                                </tr>
                                <tr>
                                    <th>Mail Quantity</th>
                                    <td>{{ leads.mail_quantity }}</td>
                                </tr>
                                <tr>
                                    <th>Mail Requirement</th>
                                    <td>{{ leads.mail_requirement }}</td>
                                </tr>
                                <tr>
                                    <th>Mail Order Value</th>
                                    <td>{{ leads.mail_order_value }}</td>
                                </tr>
                                <tr>
                                    <th>Mail Why</th>
                                    <td>{{ leads.mail_why }}</td>
                                </tr>
                                <tr>
                                    <th>Mail Usage</th>
                                    <td>{{ leads.mail_usage }}</td>
                                </tr>
                                <tr>
                                    <th>Mail Buyer Since</th>
                                    <td>{{ leads.mail_buyer_since }}</td>
                                </tr>
                                <tr>
                                    <th>Mail Buyer Type</th>
                                    <td>{{ leads.mail_buyer_type }}</td>
                                </tr>
                                <tr>
                                    <th>Mail Buyer Location</th>
                                    <td>{{ leads.mail_buyer_location }}</td>
                                </tr>
                                <tr>
                                    <th>Email ID</th>
                                    <td>{{ leads.email_id }}</td>
                                </tr>
                                <tr>
                                    <th>Account ID</th>
                                    <td>{{ leads.account_id }}</td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td>
                                        <span>{{ leads.status }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Created By</th>
                                    <td>{{ leads.created_by }}</td>
                                </tr>
                                <tr>
                                    <th>Updated By</th>
                                    <td>{{ leads.updated_by }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_styles %}
<style>
    body {
        background-color: #f4f6f9;
    }
    .table th {
        background-color: #f8f9fa;
        font-weight: 600;
        color: #495057;
    }
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(0,0,0,.05);
    }
</style>
{% endblock %}